@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;

	--bg-light: url("/images/eugene-golovesov-unsplash.jpg");
	--bg-dark: url("/images/marco-grosso-unsplash.jpg");

	--glass-bg: rgba(255, 255, 255, 0.65);
	--glass-border: rgba(255, 255, 255, 0.4);
	--glass-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
	--glass-blur: blur(20px);
	--box-shadow:
			0 2px 6px rgba(var(--gray), 25%),
			0 8px 24px rgba(var(--gray), 33%),
			0 16px 32px rgba(var(--gray), 33%);
}

html {
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	
	position: relative;
	z-index: 0;
	
	transition: color 0.5s ease;
}


/* Bright background (bottom layer) */
body::before {
	content: "";
	position: fixed;
	top: 0; left: 0; width: 100%; height: 100%;
	background-image: var(--bg-light);
	background-size: cover;
	background-position: center;
	z-index: -2;
	filter: brightness(1.05);
}

/* Dark background (top layer) */
body::after {
	content: "";
	position: fixed;
	top: 0; left: 0; width: 100%; height: 100%;
	background-image: var(--bg-dark);
	background-size: cover;
	background-position: center;
	z-index: -1; /* On top of a bright background, but below the content */

	opacity: 0;
	transition: opacity 0.7s ease-in-out;
}

html.dark body::after {
	opacity: 1;
}
